/* Базовые цвета от которых выстраивается вся политра */
$color-base-base: #f6fbfd; /* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
$color-base-essential: #002033; /* Базовый цвет поверхностей */
$color-base-project: #0071b2; /* Проектный цвет, от которого выстраивают акцентные состояния */
$color-base-phantom: #f6fbfd; /* Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */
$color-base-path: #0096eb; /* Ссылочный цвет, от которого выстраиваются все их состояния */
$color-base-success: #20b55f; /* Цвет успеха */
$color-base-alert: #eb5757; /* Цвет ошибки */
$color-base-warning: #f38b00; /* Цвет предупреждения */
$color-base-caution: #f2c94c; /* Цвет осторожности */
$color-base-normal: #56b9f2; /* Цвет нейтральный */
$color-base-additional: #9b51e0; /* Цвет нейтральный */
$color-base-critical: #33000f;
$color-base-system: #a9bbc6; /* Цвет системнный */
/* Базовые цвета от которых выстраивается вся политра */
color-base-base: #f6fbfd; /* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
color-base-essential: #002033; /* Базовый цвет поверхностей */
color-base-project: #0071b2; /* Проектный цвет, от которого выстраивают акцентные состояния */
color-base-phantom: #f6fbfd; /* Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */
color-base-path: #0096eb; /* Ссылочный цвет, от которого выстраиваются все их состояния */
color-base-success: #20b55f; /* Цвет успеха */
color-base-alert: #eb5757; /* Цвет ошибки */
color-base-warning: #f38b00; /* Цвет предупреждения */
color-base-caution: #f2c94c; /* Цвет осторожности */
color-base-normal: #56b9f2; /* Цвет нейтральный */
color-base-additional: #9b51e0; /* Цвет нейтральный */
color-base-critical: #33000f;
color-base-system: #a9bbc6; /* Цвет системнный */